{#- vim: set sw=2 ts=2 sts=2 et : -#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

<title>{{ page_title }} :: DyNS</title>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/normalize.min.css" />
<link type="text/css" rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
</head>

<body>
<header class="row">
<h1 class="site-title">DyNS</h1>
<nav>
<ul class="breadcrumbs">
{%- block breadcrumbs %}{% endblock %}
</ul>
</nav>
</header>

<div class="row">
<h2>{{ page_title }}</h2>
{% block body %}{% endblock -%}
</div>

<footer class="row text-center"
  style="border-top: 1px solid #cccccc; color: #777777; font-size: 0.75em;">
<a href="https://bitbucket.org/AdmiralNemo/dyns">DyNS</a> |
Copyright © 2015 Dustin C. Hatch
</footer>
</body>

</html>
