{#- vim: set sw=2 ts=2 sts=2 et : -#}
{% set page_title = 'Zones' -%}
{% extends 'base.html.j2' %}
{%- block breadcrumbs %}
  <li class="current"><a href="{{ url('/zones/') }}">Zones</a></li>
{%- endblock %}
{% block body -%}
<a class="tiny button" href="?new">New Zone</a>
<table class="pretty" style="width: 100%;">
<thead>
<tr>
  <th scope="col">Name</th>
  <th scope="col">Contact</th>
  <th scope="col">Serial</th>
</tr>
</thead>
<tbody>
{% for zone in zones -%}
<tr>
  <td><a href="{{ zone.name }}">{{ zone.name }}</a></td>
  <td>{{ zone.contact }}</td>
  <td>{{ zone.serial }}</td>
</tr>
{% endfor -%}
</tbody>
</table>
{% endblock %}
