{# vim: set sw=2 ts=2 sts=2 et : -#}
{% set page_title = 'New Record' %}
{% set record = None %}
{% extends 'record-form.html.j2' %}
{% block breadcrumbs %}
  <li><a href="{{ url('/zones/') }}">Zones</a></li>
  <li><a href="{{ url('/zones/') }}{{ zone.name }}">{{ zone.name }}</a></li>
  <li class="current"><a href="{{ url('/zones/') }}{{ zone.name }}?new">New Record</a></li>
{% endblock %}
