{#- vim: set sw=2 ts=2 sts=2 et : -#}
{% set page_title = 'New Zone' %}
{% set zone = None %}
{% extends 'zone-form.html.j2' %}
{%- block breadcrumbs %}
  <li><a href="{{ url('/zones/') }}">Zones</a></li>
  <li class="current"><a href="{{ url('/zones/') }}?new">New Zone</a></li>
{%- endblock %}
