{#- vim: set sw=2 ts=2 sts=2 et : -#}
{% if record.host == '@' -%}
{% set page_title = '{} ({})'.format(record.zone, record.rdtype) -%}
{% else -%}
{% set page_title = '{}.{} ({})'.format(record.host, record.zone, record.rdtype) -%}
{% endif -%}
{% extends 'record-form.html.j2' %}
{% block breadcrumbs %}
  <li><a href="{{ url('/zones/') }}">Zones</a></li>
  <li><a href="{{ url('/zones/') }}{{ record.zone }}">{{ record.zone }}</a></li>
  <li class="current"><a href="{{ url('/records/') }}{{ record.id }}">{{ record.host }}</a> ({{ record.rdtype }})</li>
{%- endblock %}
