{# vim: set sw=2 ts=2 sts=2 et : -#}
{% extends 'base.html.j2' %}
{% block body -%}
<form method="post">
<div class="row">
<div class="medium-6 columns">
<label>Host:
  <input type="text" name="host" required="required"
{%- if record %}
    value="{{ record.host }}"
{%- endif %}
    pattern="([a-zA-Z0-9\-]{1,63})|@" />
</label>
</div>
<div class="medium-6 columns">
<label>Zone:
  <input type="text" disabled="disabled"
{%- if record %}
   value="{{ record.zone }}"
{%- elif zone is defined %}
   value="{{ zone.name }}"
{%- endif %}
  />
</label>
</div>
<div class="medium-4 columns">
<label><abbr title="Time To Live">TTL</abbr>:
  <input type="number" name="ttl"
{%- if record %}
    value="{{ record.ttl }}"
{%- endif %}
    placeholder="3600" />
</label>
</div>
<div class="medium-4 columns">
{%- set record_types = (
'A',
'AAAA',
'CNAME',
'MX',
'NS',
'SRV',
'TXT',
) %}
<label>Type:<select name="rdtype">
{%- for t in record_types %}
  <option{% if record and record.rdtype == t %} selected="selected" {% endif %}>{{ t }}</option>
{%- endfor %}
</select></label>
</div>
<div class="medium-4 columns">
<label>Priority (MX only):
  <input type="number" name="mx_prio"
{%- if record %}
    value="{{ record.mx_prio }}"
{%- endif %}
  placeholder="10" />
</label>
</div>
<div class="column">
<label>Data:
  <input type="text" name="data"
{%- if record %}
    value="{{ record.data }}"
{%- endif %}
  required="required" />
</label>
</div>
<div class="column text-right">
{%- if record %}
<button class="small alert button" type="submit" name="_method"
  value="DELETE" formnovalidate="novalidate">Delete</button>
{%- endif %}
<button class="small button" type="submit"
{%- if record %} name="_method" value="PUT"{%- endif -%}>Submit</button>
</div>
</div>
</form>
{% endblock %}
