{#- vim: set sw=2 ts=2 sts=2 et : -#}
{% extends 'base.html.j2' %}
{% block body -%}
<form method="post">
{% set domain_regex = '(?=^.{4,253}$)(^((?!-)[a-zA-Z0-9-]{0,62}[a-zA-Z0-9]\\.)+[a-zA-Z]{2,63}$)' %}
{% set fqdn_regex = '(?=^.{4,253}$)(^((?!-)[a-zA-Z0-9-]{0,62}[a-zA-Z0-9]\\.)+[a-zA-Z]{2,63}\\.?$)' %}
<div class="row">
<div class="columns">
<label>Name:
  <input type="text" name="name" required="requred"
    pattern="{{ domain_regex }}" placeholder="example.com"
{%- if zone %} disabled="disabled"{% endif %}
    x-moz-errormessage="Please enter a valid DNS domain name." />
</label>
</div>
<div class="medium-4 columns">
<label>Contact:
  <input type="text" name="contact" required="required"
    pattern="{{ fqdn_regex }}" placeholder="hostmaster.example.com."
{%- if zone %}
    value="{{ zone.contact }}"
{%- endif %}
    x-moz-errormessage="Please enter a valid fully-qualified DNS domain name." />
</label>
</div>
<div class="medium-4 columns">
<label>Source:
  <input type="text" name="source" required="requred"
    pattern="{{ fqdn_regex }}" placeholder="ns1.example.com."
{%- if zone %}
    value="{{ zone.source }}"
{%- endif %}
    x-moz-errormessage="Please enter a valid fully-qualified DNS domain name." />
</label>
</div>
<div class="medium-4 columns">
<label>Serial:
  <input type="number" name="serial"
{%- if zone %}
    value="{{ zone.serial }}"
{%- endif %}
    placeholder="1024" />
</label>
</div>
</div>
<div class="row">
<div class="large-2 medium-4 columns">
<label><abbr title="Time To Live">TTL</abbr>:
  <input type="number" name="ttl"
{%- if zone %}
    value="{{ zone.ttl }}"
{%- endif %}
  placeholder="3600" />
</label>
</div>
<div class="large-2 medium-4 columns">
<label>Refresh Interval:
  <input type="number" name="refresh"
{%- if zone %}
    value="{{ zone.refresh }}"
{%- endif %}
  placeholder="900" />
</label>
</div>
<div class="large-2 medium-4 columns">
<label>Retry Interval:
  <input type="number" name="retry"
{%- if zone %}
    value="{{ zone.retry }}"
{%- endif %}
  placeholder="600" />
</label>
</div>
<div class="large-2 medium-4 columns">
<label>Expiry Time:
  <input type="number" name="expire"
{%- if zone %}
    value="{{ zone.expire }}"
{%- endif %}
  placeholder="86400" />
</label>
</div>
<div class="large-3 medium-4 columns">
<label>Minumum (default) <abbr title="Time To Live">TTL</abbr>:
  <input type="number" name="minimum"
{%- if zone %}
    value="{{ zone.minimum }}"
{%- endif %}
  placeholder="3600" />
</label>
</div>
<div class="large-1 medium-4 columns"></div>
</div>
<div class="row text-right">
<div class="columns">
<button class="small button" type="submit"
{%- if zone %} name="_method" value="PUT"{% endif %}>Submit</button>
</div>
</div>
</form>
{% endblock %}
